@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #333333;
  --primary: #522FFE;
  --card: #FFFFFF;
}

.dark{
    --background: #030304;
    --foreground: #FFFFFF;
    --primary: #522FFE;
    --card: #1d1d1d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .card-shadow{
    @apply shadow-[0px_3px_10px_rgb(0,0,0,0.2)]
  }

  .circle-icon{
    @apply flex items-center justify-center rounded-full bg-opacity-[12%] absolute w-11 h-11 md:w-14 md:h-14 bg-[#f4ebff]
  }

  .primitive-box{
    @apply bg-primary text-white rounded px-5
  }

  .section-contents{
    @apply w-full flex gap-10 md:gap-[50px] flex-col items-center
  }

  .card{
    @apply bg-card rounded-lg card-shadow
  }
  .contact-styling{
    @apply rounded px-2 py-1 focus:no-underline bg-white bg-opacity-25 focus:outline-none
  }
}

